#start-button {
    padding: 20px;
    margin:200px;
}

header{
    padding: 20px;
    margin: 20px;
}

#question-answer-field {
    display: none;
}

.quiz-question {
    font-size:x-large;
}


footer {
  position:absolute;
  width: 100%;
  justify-content: right;
  display: none;
}


.btn {
    padding: 20px;
    margin: 10px;
    border: solid black; 
}